@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;

    @font-face {
        font-family: 'PixelFont';
        src: url(../font/alterebro-pixel-font.ttf) format("truetype");
        font-family: PixelFont;
    }


    #zum {
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-image: url(../img/zoomError.jfif);
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-size: 20vh;
            text-align: center;
            color: red;
            text-shadow: 2vh 2vh black;
        }
    }


    div#main {
        background-image: url(../img/background.jpg);
        width: 100%;
        height: 100vh;
        display: block;
        overflow: auto;
        font-family: 'PixelFont';


        div#planet_info {
            display: none;
            transition: opacity 0.3s ease-out;
            background-image: url("../img/hud/info.png"); 
            position: absolute; 
            width: 500px; 
            height: 300px; 
            top: 0px; 
            font-size: 16px;
            top: calc(50% - 150px);
            padding: 0px;
            z-index: 0;

            p {
                font-family: 'VT323', monospace;
                color: rgb(137, 191, 207);
                text-align: left;
                margin: 0;
                padding: 0;
                margin-left: 20px;
            }
        }

        canvas{
            display: none;
        }

        div.leiras{
            height: 70vh;
            width: 60vw;
            position:absolute;
            top: 30%;
            left:40%;
        }
        .xdd{
            display:none ;
        }
            h1{
                width: 100%;
                height: 20%;
                font-size: 30px;
                color: blue;
            }
            h1.karakternev{
                font-size: 80px;
                color:red;
                height: 15%;

            }
            a{
                text-decoration: none;
                color: red;
            }
            a.visited{
                text-decoration: none;
                color: red;
            }
            
            h2{
                width: 100%;
                height: 10%;
                color: red;
                text-align: center;

            }
            div.leirasok{
                display: flex;
                flex-direction: row;
            }
            p.kleiras{
                margin: 0;
                padding: 0;
                width: 50%;
                color: red;
                font-size: 30px;

            }
            table.statok{
                margin: 0;
                padding: 0;
                width: 50%;
                float:right;
                color:blue;
                font-size: 30px;
            }
                tr{
                    color: blue;
                    margin-bottom: 30px;         
                }
                td{
                    width: 10vw;
                }
                
        
        h1{
            color: blue;
            font-size: 15vh;
            text-align: center;
        }
        h1.selection{
            color: red;
            font-size: 120px;

        }
        div.gomb{
        position: absolute;
        top:87%;
        left:45%;
        }
        p{
            color: white;
            font-size: 5vh;
            text-align: center;
        }
        img.character{
            width: 20vw;
            height: 20vh;
            position: fixed;
            
            // display:block; 
            // z-index:999; 
            // cursor: pointer; 
            // -webkit-transition-property: all; 
            // -webkit-transition-duration: 0.3s; 
            // -webkit-transition-timing-function: ease; 
            
        }
        .highlighted{
            transform: scale(2,2);
            position: absolute;
            top:50% !important;
            left:10% !important;
        }
        #masodik{
            position: absolute;
            top: 6%;
            left: 25%;
        }
        #harmadik{
            position: absolute;
            top: 6%;
            left:50%;
        }
        #elso{
            position: absolute;
            top: 6%;
            left:0%;
        }
        #negyedik{
            position: absolute;
            top: 6%;
            left:75%;
        }
        div.keptarto{
        margin: 1px;
        }
        div.flexcontainer{
            display: flex;
            // flex-direction: row; 
             flex-wrap: wrap-reverse;
            justify-content: space-between;
        }


        .button {
            background-color: red;
            width: 40%;
            margin: auto;
            height: 3vh;
            margin-bottom: 1.5vh;

            p {
                font-size: 2vh;
                text-align: center;
                width: 100%;
                height: 100%;

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        div.container {
            display: flex;
            justify-content: center;
            align-items: center;

            div#popup {
                z-index: 1;
                position: absolute;
                top: 25%;
                background-color: red;
                width: 55%;
                height: 50vh;
                display: flex;
                opacity: 0;
                transition: opacity 0.85s;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .headline {
                    height: 30vh;
                    width: 100%;
                    display: block;

                    h1 {
                        text-align: center;
                        width: 80%;
                        margin-left: 10%;
                        height: 6vh;
                        font-size: 40px;
                    }

                    #timer {
                        background-color: black;
                        height: 6vh;
                        width: 14%;
                        float: right;
                    }
                }

                div.content {
                    width: 100%;
                    height: 70%;
                    display: block;
                    flex-direction: row;

                    div#answer {
                        top: 28.7vh;
                        width: 55%;
                        height: 40vh;

                        div.choice {
                            background-color: white;
                            margin-bottom: 4vh;
                            margin-left: 5%;
                            width: 60%;
                            height: 9vh;

                            p {
                                color: black;
                                font-size: 3vh;
                                text-align: center;
                            }
                        }

                    }

                    img {
                        height: 35vh;
                        display: block;
                        position: absolute;
                        top: 15vh;
                        left: 73.5%;
                    }
                }
            }

        }

        #notif {
            display: none;
            opacity: 0;
            transition: opacity 0.85s;
            width: 55%;
            height: 30vh;
            top: 35vh;
            left: 22.5%;
            background-color: red;
            position: absolute;
    
            div {
                margin: 0vh auto;
                height: 6vh;
                top: 10vh;
                position: relative;
    
                p {
                    font-size: 6vh;
                }
            }
        }

    }


}