@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
}

body {
  overflow-y: hidden;
}
body #zum {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background-image: url(../img/zoomError.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
body #zum h1 {
  font-size: 20vh;
  text-align: center;
  color: red;
  text-shadow: 2vh 2vh black;
}
body div#main {
  background-image: url(../img/background/bg1.png);
  width: 100%;
  height: 100vh;
  display: block;
  overflow: auto;
}
body div#main div#planet_info {
  display: none;
  transition: opacity 0.3s ease-out;
  position: absolute;
  top: calc(50% - 250px);
  height: 500px;
  justify-content: center;
  flex-direction: column;
}
body div#main div#planet_info #info_content {
  transition: all 0.3s;
  background-image: url("../img/hud/info.png");
  width: 500px;
  height: 300px;
  top: 0px;
  font-size: 16px;
  padding: 0px;
  z-index: 0;
}
body div#main div#planet_info #info_content p {
  color: rgb(137, 191, 207);
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}
body div#main div#planet_info #info_content br {
  content: "";
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}
body div#main div#planet_info #info_content h1 {
  color: rgb(74, 228, 163);
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}
body div#main div#planet_info #c_button {
  transition: all 0.3s;
  background-image: url("../img/hud/button.png");
  height: 50px;
  width: 313px;
}
body div#main div#planet_info #c_button h1 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(74, 228, 163);
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}
body div#main div#planet_info #c_button:hover {
  cursor: pointer;
}
body div#main div#planet_info #c_button:hover h1 {
  color: rgb(228, 74, 74);
}
body div#main div.cápa {
  width: 22vw;
  height: 22vh;
  position: absolute;
  top: 77%;
  left: 77%;
}
body div#main iframe {
  width: 100%;
  height: 100%;
}
body div#main canvas {
  display: none;
  transition: all 0.3s;
}
body div#main div.leiras {
  height: 70vh;
  width: 60vw;
  position: absolute;
  top: 30%;
  left: 40%;
}
body div#main .xdd {
  display: none;
}
body div#main h1 {
  width: 100%;
  height: 20%;
  font-size: 30px;
  color: blue;
}
body div#main h1.karakternev {
  font-size: 80px;
  color: red;
  height: 15%;
}
body div#main a {
  text-decoration: none;
  color: red;
}
body div#main a.visited {
  text-decoration: none;
  color: red;
}
body div#main h2 {
  width: 100%;
  height: 10%;
  color: red;
  text-align: center;
}
body div#main div.leirasok {
  display: flex;
  flex-direction: row;
}
body div#main p.kleiras {
  margin: 0;
  padding: 0;
  width: 50%;
  color: red;
  font-size: 30px;
}
body div#main table.statok {
  margin: 0;
  padding: 0;
  width: 50%;
  float: right;
  color: blue;
  font-size: 30px;
}
body div#main tr {
  color: blue;
  margin-bottom: 30px;
}
body div#main td {
  width: 10vw;
}
body div#main h1 {
  color: blue;
  font-size: 15vh;
  text-align: center;
}
body div#main h1.selection {
  color: red;
  font-size: 120px;
}
body div#main div.gomb {
  position: absolute;
  top: 87%;
  left: 45%;
}
body div#main p {
  color: white;
  font-size: 5vh;
  text-align: center;
}
body div#main img.character {
  width: 20vw;
  height: 20vh;
  position: fixed;
}
body div#main .highlighted {
  transform: scale(2, 2);
  position: absolute;
  top: 50% !important;
  left: 10% !important;
}
body div#main #masodik {
  position: absolute;
  top: 6%;
  left: 25%;
}
body div#main #harmadik {
  position: absolute;
  top: 6%;
  left: 50%;
}
body div#main #elso {
  position: absolute;
  top: 6%;
  left: 0%;
}
body div#main #negyedik {
  position: absolute;
  top: 6%;
  left: 75%;
}
body div#main div.keptarto {
  margin: 1px;
}
body div#main div.flexcontainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
body div#main .button {
  background-color: red;
  width: 40%;
  margin: auto;
  height: 3vh;
  margin-bottom: 1.5vh;
}
body div#main .button p {
  font-size: 2vh;
  text-align: center;
  width: 100%;
  height: 100%;
}
body div#main .button p a {
  display: inline-block;
  color: white;
  text-decoration: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}
body div#main div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body div#main div.container div#popup {
  z-index: 1;
  position: absolute;
  background-image: url("../img/hud/questionbg.png");
  top: -900px;
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
  opacity: 0;
  display: flex;
  transition: all 0.85s;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body div#main div.container div#popup .headline {
  height: 200px;
  width: 560px;
  display: flex;
  justify-content: center;
}
body div#main div.container div#popup .headline h1 {
  display: flex;
  width: 420px;
  justify-content: center;
  align-items: center;
  color: #88CDCA;
  font-size: 35px;
  height: 150px;
}
body div#main div.container div#popup .headline #timer {
  height: 50px;
  width: 45px;
  position: absolute;
  left: 440px;
  top: 155px;
}
body div#main div.container div#popup div.content {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body div#main div.container div#popup div.content div#answer {
  top: 28.7vh;
  width: 600px;
  height: 100px;
}
body div#main div.container div#popup div.content div#answer div.choice {
  cursor: pointer;
  transition: all 0.3s;
  background-image: url("../img/hud/question.png");
  border: 8px solid #88CDCA;
  margin-bottom: 20px;
  display: flex;
  width: 365px;
  height: 100px;
  align-items: center;
  justify-content: center;
}
body div#main div.container div#popup div.content div#answer div.choice p {
  color: black;
  font-size: 3vh;
  text-align: center;
}
body div#main div.container div#popup div.content div#answer div.chosen_answ {
  border-color: orange;
}
body div#main div.container div#popup div.content div#answer div.correct {
  border-color: rgb(45, 63, 45);
}
body div#main div.container div#popup div.content div#answer div.incorrect {
  border-color: rgb(116, 24, 24);
}
body div#main div.container div#popup div.content img {
  height: 300px;
  border: 8px solid #88CDCA;
  display: block;
  right: 0px;
}
body div#main #notif {
  display: none;
  opacity: 0;
  transition: opacity 0.85s;
  width: 55%;
  height: 30vh;
  top: 35vh;
  left: 22.5%;
  background-color: red;
  position: absolute;
}
body div#main #notif div {
  margin: 0vh auto;
  height: 6vh;
  top: 10vh;
  position: relative;
}
body div#main #notif div p {
  font-size: 6vh;
}/*# sourceMappingURL=style.css.map */