* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;

    #zum {
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-image: url(../img/zoomError.jfif);    
        background-repeat: no-repeat;
        background-size: cover;
        
        h1{
            font-size: 20vh ;
            text-align: center;
            color: red;
            text-shadow: 2vh 2vh black;
        }
    }


    div#main{
        background-image: url(../img/background.jpg);
        width: 100%;
        height: 100vh;
        display: block;
        overflow: auto;
        

        p{
            color: white;
            font-size: 5vh;
            text-align: center;
        }

        .button{
            background-color: red;
            width: 40%;
            margin: auto;
            height: 3vh;
            margin-bottom: 1.5vh;

            p{
                font-size: 2vh;
                text-align: center;
                width: 100%;
                height: 100%;

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        div#popup{
            background-color: red;
            width: 55%;
            height: 50vh;
            margin: 10% auto;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.85s;

            .headline{
                height: 6vh;

                h1{
                    text-align: center;
                    width: 80%;
                    margin-left: 10%;
                    height: 6vh;
                    font-size: 3.5vh;
                }
    
                #timer{
                    background-color: black;
                    height: 6vh;
                    width: 14%;
                    display: inline-block;
                    float: right;
                }
            }

            div#answer{
                position: absolute;
                top: 28.7vh;
                width: 55%;
                height: 40vh;

                div.choice{
                    background-color: white;
                    margin-bottom: 4vh;
                    margin-left: 5%;
                    width: 60%;
                    height: 9vh;
                    
                    p{
                        color: black;
                        font-size: 3vh;
                        text-align: center;
                    }
                }

            }
            img{
                height: 35vh;
                float: right;
                margin: 5vh ;
            }
        }
    }

}