* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;

    #zum {
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-image: url(../img/zoomError.jfif);    
        background-repeat: no-repeat;
        background-size: cover;
        
        h1{
            font-size: 20vh ;
            text-align: center;
            color: red;
            text-shadow: 2vh 2vh black;
        }
    }


    div#main{
        background-image: url(../img/background.jpg);
        width: 100%;
        height: 100vh;
        display: block;
        
        h1{
            color: red;
            font-size: 15vh;
            text-align: center;
        }

        p{
            color: white;
            font-size: 5vh;
            text-align: center;
        }
        img.character{
            width: 20vw;
            height: 10vh;
            margin-right: 4vw;
            // display:block; 
            // z-index:999; 
            // cursor: pointer; 
            // -webkit-transition-property: all; 
            // -webkit-transition-duration: 0.3s; 
            // -webkit-transition-timing-function: ease; 
            
        }
        img#highlighted{
            position: absolute;
            top:50%;
            left: 50%;
        }
        div.keptarto{

        }
        div.mindcontaier{
            display:flex ;
            flex-direction: row;
        }
        div.flexcontainer{
            display: flex;
            flex-direction: row; 
        }
        div.flexcontainer2{
            display: flex;
            flex-direction: row;
        }


        .button{
            background-color: red;
            width: 40%;
            margin: auto;
            height: 3vh;
            margin-bottom: 1.5vh;

            p{
                font-size: 2vh;
                text-align: center;
                width: 100%;
                height: 100%;

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}