@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    overflow-y: hidden;

    #zum {
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-image: url(../img/zoomError.jfif);
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-size: 20vh;
            text-align: center;
            color: red;
            text-shadow: 2vh 2vh black;
        }
    }


    div#main {
        background-image: url(../img/background/bg1.png);
        width: 100%;
        height: 100vh;
        display: block;
        overflow: auto;

        #kanye {
            transition: all .3s;
            bottom: -256px;
            position: absolute;
            display: none;
        }

        div#planet_info {
            display: none;
            transition: opacity 0.3s ease-out;
            position: absolute; 
            top: calc(50% - 250px);
            height: 500px;
            justify-content: center;
            flex-direction: column;
            
            #info_content {
                transition: all 0.3s;
                background-image: url("../img/hud/info.png"); 
                width: 500px; 
                height: 300px; 
                top: 0px; 
                font-size: 16px;
                padding: 0px;
                z-index: 0;
    
                p {
                    color: rgb(137, 191, 207);
                    font-size: 30px;
                    text-align: left;
                    margin-left: 20px;
                }

                br {
                    content: "";
                    font-size: 30px;
                    text-align: left;
                    margin-left: 20px;
                }
    
                h1 {
                    color: rgb(74, 228, 163);
                    font-size: 30px;
                    text-align: left;
                    margin-left: 20px;
                }
            }

            #c_button {
                transition: all 0.3s;
                background-image: url("../img/hud/button.png");
                height: 50px;
                width: 313px;

                h1 {
                    display: inline-block;
                    vertical-align: middle;
                    color: rgb(74, 228, 163);
                    font-size: 30px;
                    text-align: center;
                    margin-left: 20px;
                }
            }

            #c_button:hover {
                cursor: pointer;
                h1 {
                    color: rgb(228, 74, 74);
                }
            }
        }
        div.cápa{
            width: 22vw;
            height: 22vh;
            position: absolute;
            top:77%;
            left: 77%;
        }
            iframe{
                width: 100%;
                height: 100%;
            }
        canvas{
            display: none;
            transition: all 0.3s;
        }

        div.leiras{
            height: 70vh;
            width: 60vw;
            position:absolute;
            top: 30%;
            left:40%;
        }
        .xdd{
            display:none ;
        }
            h1{
                width: 100%;
                height: 20%;
                font-size: 30px;
                color: blue;
            }
            h1.karakternev{
                font-size: 80px;
                color:red;
                height: 15%;

            }
            a{
                text-decoration: none;
                color: red;
            }
            a.visited{
                text-decoration: none;
                color: red;
            }
            
            h2{
                width: 100%;
                height: 10%;
                color: red;
                text-align: center;

            }
            div.leirasok{
                display: flex;
                flex-direction: row;
            }
            p.kleiras{
                margin: 0;
                padding: 0;
                width: 50%;
                color: red;
                font-size: 30px;

            }
            table.statok{
                margin: 0;
                padding: 0;
                width: 50%;
                float:right;
                color:blue;
                font-size: 30px;
            }
                tr{
                    color: blue;
                    margin-bottom: 30px;         
                }
                td{
                    width: 10vw;
                }
                
        
        h1{
            color: blue;
            font-size: 15vh;
            text-align: center;
        }
        h1.selection{
            color: red;
            font-size: 120px;

        }
        div.gomb{
        position: absolute;
        top:87%;
        left:45%;
        }
        p{
            color: white;
            font-size: 5vh;
            text-align: center;
        }
        img.character{
            width: 20vw;
            height: 20vh;
            position: fixed;
            
            // display:block; 
            // z-index:999; 
            // cursor: pointer; 
            // -webkit-transition-property: all; 
            // -webkit-transition-duration: 0.3s; 
            // -webkit-transition-timing-function: ease; 
            
        }

        .highlighted{
            transform: scale(2,2);
            position: absolute;
            top:50% !important;
            left:10% !important;
        }

        #masodik{
            position: absolute;
            top: 6%;
            left: 25%;
        }

        #harmadik{
            position: absolute;
            top: 6%;
            left:50%;
        }

        #elso{
            position: absolute;
            top: 6%;
            left:0%;
        }

        #negyedik{
            position: absolute;
            top: 6%;
            left:75%;
        }

        div.keptarto{
            margin: 1px;
        }

        div.flexcontainer{
            display: flex;
            // flex-direction: row; 
             flex-wrap: wrap-reverse;
            justify-content: space-between;
        }


        .button {
            background-color: red;
            width: 40%;
            margin: auto;
            height: 3vh;
            margin-bottom: 1.5vh;

            p {
                font-size: 2vh;
                text-align: center;
                width: 100%;
                height: 100%;

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        div.container {
            display: flex;
            justify-content: center;
            align-items: center;

            div#popup {
                z-index: 1;
                position: absolute;
                background-image: url("../img/hud/questionbg.png");
                top: -900px;
                background-repeat: no-repeat;
                width: 900px;
                height: 600px;
                opacity: 0;
                display: flex;
                transition: all 0.85s;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .headline {
                    height: 200px;
                    width: 560px;
                    display: flex;
                    justify-content: center;

                    h1 {
                        display: flex;
                        width: 420px;
                        justify-content: center;
                        align-items: center;
                        color: #88CDCA;
                        font-size: 35px;
                        height: 150px;
                    }

                    #timer {
                        height: 50px;
                        width: 45px;
                        position: absolute;
                        left: 440px;
                        top: 155px;
                    }
                
                }



                div.content {
                    width: 100%;
                    height: 65%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    div#answer {
                        top: 28.7vh;
                        width: 600px;
                        height: 100px;

                        div.choice {
                            cursor: pointer;
                            transition: all .3s;
                            background-image: url("../img/hud/question.png");
                            border: 8px solid #88CDCA; 
                            margin-bottom: 20px;
                            display: flex;
                            width: 365px;
                            height: 100px;
                            align-items: center;
                            justify-content: center;

                            p {
                                color: black;
                                font-size: 3vh;
                                text-align: center;
                            }
                        }

                        div.chosen_answ {
                            border-color:  orange; 
                        }

                        div.correct {
                            border-color: rgb(45, 63, 45);
                        }

                        div.incorrect {
                            border-color: rgb(116, 24, 24);
                        }
                    }
                    img {
                        height: 300px;
                        border: 8px solid #88CDCA; 
                        display: block;
                        right: 0px;
                    }

                }
            }

        }

        #notif {
            display: none;
            opacity: 0;
            transition: opacity 0.85s;
            width: 55%;
            height: 30vh;
            top: 35vh;
            left: 22.5%;
            background-color: red;
            position: absolute;
    
            div {
                margin: 0vh auto;
                height: 6vh;
                top: 10vh;
                position: relative;
    
                p {
                    font-size: 6vh;
                }
            }
        }

    }

    


}