@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}
@font-face {
  body {
    font-family: "PixelFont";
    src: url(../font/alterebro-pixel-font.ttf) format("truetype");
    font-family: PixelFont;
  }
}
body #zum {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background-image: url(../img/zoomError.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
body #zum h1 {
  font-size: 20vh;
  text-align: center;
  color: red;
  text-shadow: 2vh 2vh black;
}
body div#main {
  background-image: url(../img/background.jpg);
  width: 100%;
  height: 100vh;
  display: block;
  overflow: auto;
  font-family: "PixelFont";
}

body div#main div#planet_info {
  transition: opacity 0.3s ease-out;
  background-image: url("../img/hud/info.png");
  position: absolute;
  width: 500px;
  height: 300px;
  top: 0px;
  font-size: 16px;
  top: calc(50% - 150px);
  padding: 0px;
}
body div#main div#planet_info p {
  font-family: "VT323", monospace;
  color: rgb(137, 191, 207);
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 20px;
=======
body div#main canvas {
  display: none;
}
body div#main div.leiras {
  height: 70vh;
  width: 60vw;
  position: absolute;
  top: 30%;
  left: 40%;
}
body div#main .xdd {
  display: none;
}
body div#main h1 {
  width: 100%;
  height: 20%;
  font-size: 30px;
  color: blue;
}
body div#main h1.karakternev {
  font-size: 80px;
  color: red;
  height: 15%;
}
body div#main a {
  text-decoration: none;
  color: red;
}
body div#main a.visited {
  text-decoration: none;
  color: red;
}
body div#main h2 {
  width: 100%;
  height: 10%;
  color: red;
  text-align: center;
}
body div#main div.leirasok {
  display: flex;
  flex-direction: row;
}
body div#main p.kleiras {
  margin: 0;
  padding: 0;
  width: 50%;
  color: red;
  font-size: 30px;
}
body div#main table.statok {
  margin: 0;
  padding: 0;
  width: 50%;
  float: right;
  color: blue;
  font-size: 30px;
}
body div#main tr {
  color: blue;
  margin-bottom: 30px;
}
body div#main td {
  width: 10vw;
}
body div#main h1 {
  color: blue;
  font-size: 15vh;
  text-align: center;
}
body div#main h1.selection {
  color: red;
  font-size: 120px;
}
body div#main div.gomb {
  position: absolute;
  top: 87%;
  left: 45%;

}
body div#main p {
  color: white;
  font-size: 5vh;
  text-align: center;
}
body div#main img.character {
  width: 20vw;
  height: 20vh;
  position: fixed;
}
body div#main .highlighted {
  transform: scale(2, 2);
  position: absolute;
  top: 50% !important;
  left: 10% !important;
}
body div#main #masodik {
  position: absolute;
  top: 6%;
  left: 25%;
}
body div#main #harmadik {
  position: absolute;
  top: 6%;
  left: 50%;
}
body div#main #elso {
  position: absolute;
  top: 6%;
  left: 0%;
}
body div#main #negyedik {
  position: absolute;
  top: 6%;
  left: 75%;
}
body div#main div.keptarto {
  margin: 1px;
}
body div#main div.flexcontainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
body div#main .button {
  background-color: red;
  width: 40%;
  margin: auto;
  height: 3vh;
  margin-bottom: 1.5vh;
}
body div#main .button p {
  font-size: 2vh;
  text-align: center;
  width: 100%;
  height: 100%;
}
body div#main .button p a {
  display: inline-block;
  color: white;
  text-decoration: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}
body div#main div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body div#main div.container div#popup {
  position: absolute;
  top: 25%;
  background-color: red;
  width: 55%;
  height: 50vh;
  display: flex;
  opacity: 0;
  transition: opacity 0.85s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body div#main div.container div#popup .headline {
  height: 30vh;
  width: 100%;
  display: block;
}
body div#main div.container div#popup .headline h1 {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  height: 6vh;
  font-size: 40px;
}
body div#main div.container div#popup .headline #timer {
  background-color: black;
  height: 6vh;
  width: 14%;
  float: right;
}
body div#main div.container div#popup div.content {
  width: 100%;
  height: 70%;
  display: block;
  flex-direction: row;
}
body div#main div.container div#popup div.content div#answer {
  top: 28.7vh;
  width: 55%;
  height: 40vh;
}
body div#main div.container div#popup div.content div#answer div.choice {
  background-color: white;
  margin-bottom: 4vh;
  margin-left: 5%;
  width: 60%;
  height: 9vh;
}
body div#main div.container div#popup div.content div#answer div.choice p {
  color: black;
  font-size: 3vh;
  text-align: center;
}
body div#main div.container div#popup div.content img {
  height: 35vh;
  display: block;
  position: absolute;
  top: 15vh;
  left: 73.5%;
}
body div#main #notif {
  display: none;
  opacity: 0;
  transition: opacity 0.85s;
  width: 55%;
  height: 30vh;
  top: 35vh;
  left: 22.5%;
  background-color: red;
  position: absolute;
}
body div#main #notif div {
  margin: 0vh auto;
  height: 6vh;
  top: 10vh;
  position: relative;
}
body div#main #notif div p {
  font-size: 6vh;
}/*# sourceMappingURL=style.css.map */